<mat-toolbar>
  <mat-toolbar-row>
    <img src="../assets/mosque.svg" alt="masjid" width="50" />
    <span>AL-HASAN</span>
    <span class="example-spacer"></span>
    <button mat-button>HOME</button>
    <button mat-button>PRAYER</button>
    <button mat-button>CONTACT</button>
  </mat-toolbar-row>
</mat-toolbar>

<div
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/masjidbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 93%;
  "
>
  <div
    style="
      display: flex;
      height: 50rem;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    "
  >
    <p class="amita-bold" style="font-size: 90px; color: white">
      Join The Path Of Spirituality
    </p>
    <p class="amita-regular" style="color: white">
      Welcoming our fellow Muslim brothers and sisters to join hands with us in
      prayer at our sacred mosque Al Taqwa
    </p>
  </div>
  <section>
    <div style="display: flex;justify-content: center;gap: 5rem;    margin-top: -9rem;
    ">
      <div
        style="
          background-color: #FFFFFF;
;
          width: 300px;
          height: 100px;
          text-align: center;


        "
      >
        <p class="amita-bold" style="color:#D6AB27;font-size: 32px;    margin-top: 2rem;
">FAJR</p>
<p class="amita-bold" style="font-size: 20px;">4:58 AM</p>
      </div>

      <div   style="
          background-color: #FFFFFF;
;
          width: 300px;

          text-align: center;

        ">
        <p class="amita-bold" style="color:#D6AB27;font-size: 32px;     margin-top: 2rem;
        "> DUHUR</p>
<p class="amita-bold" style="font-size: 20px;">1:00 PM</p>

      </div>

      <div   style="
          background-color: #FFFFFF;
;
          width: 300px;

          text-align: center;

        ">
        <p class="amita-bold" style="color:#D6AB27;font-size: 32px;     margin-top: 2rem;
        ">ASAR</p>
<p class="amita-bold" style="font-size: 20px;">5:00 PM</p>

      </div>

      <div   style="
          background-color: #FFFFFF;
;
          width: 300px;

          text-align: center;

        ">
        <p class="amita-bold" style="color:#D6AB27;font-size: 32px;     margin-top: 2rem;
        ">MAGRIB</p>
<p class="amita-bold" style="font-size: 20px;">6:45 PM</p>

      </div>

      <div   style="
          background-color: #FFFFFF;
;
          width: 300px;

          text-align: center;
        ">
        <p class="amita-bold" style="color:#D6AB27;font-size: 32px;    margin-top: 2rem;
"> ISHA</p>
<p class="amita-bold" style="font-size: 20px;">8:30 PM</p>

      </div>
    </div>
  </section>
</div>


<div style="padding:20px"></div>

